<div class="modal-body">
<h4 class="modal-title" id="myModalLabel">About Us</h4>
  <center>
  <img src="https://pbs.twimg.com/profile_images/824716853989744640/8Fcd0bji_400x400.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
    <h3 class="media-heading">Akash <small></small></h3>
    <span><strong><p>Skills: </p></strong></span>
    <span class="label label-warning">HTML5/CSS</span>
    <span class="label label-info">RoR</span>
    <span class="label label-info">Microsoft Office</span>
    <span class="label label-success">Windows XP, Vista, 7,Ubuntu</span>
  </center>
<hr>
  <center>
    <p class="text-left"><strong>Bio: </strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
        <br>
  </center>
  <div class="modal-footer">
    <center>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </center>
  </div>
</div>
      