<h1>Listing Calendar Events</h1>
<div class="container">
	<div class="table-responsive">
	<table id="users-table"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" width="100%">
		<thead>
			<th>Event Name</th>
			<th>Event Creator</th>
			<th>Event Link</th>
			<th>Created At</th>
		</thead>
		<tbody>
			<% @events.each do |event|%>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.creator %></td>
				<td><%= link_to "View in Calendar", event.link %></td>
				<td><%= event.created_at %></td>
			</tr>	
			<% end %>
		</tbody>
	</table>
	</div>
</div>