<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" width="100%" >
  <thead>
    <tr>
      <td>Invitee Name</td>
      <td>Invitee Email</td>
      <td>Invitation Send At</td>
      <td>Invited By</td>              
    </tr>
  </thead>
  <% @invites = User.invitation_not_accepted %>  
  <tbody>
    <% @invites.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.email %></td>
        <td><%= i.invitation_sent_at %></td>
         <% invitee = User.find(i.invited_by_id) %>
    		<td><%= invitee.name %></td>
   		</tr>
    <% end %>
  </tbody>
</table> 