<h2>Group Name : <%= "#{@group.name}"%></h2>
<small><p>Created By <%= "#{@group.created_by}"%></p></small>		
  <div class='btn-group'>
  	<%= link_to "New Post", new_group_post_path, class: "btn btn-default" %>
	</div>
</div>

<div class="container" id="posts">
  <%= render 'posts' %> 
<!-- Rendering posts partial with ajax for paginating all posts -->
  <br>
  <br>
  <br>
</div>