/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require rails_bootstrap_forms 
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

#comments{
  width: 90%;
  margin: auto;
}
#invitation{
  padding-left: 56%
}
.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
  background-size: 100%
}

#comment-align{
  text-align: left;
  margin-left: 20px;
}
blockquote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: black;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  text-indent: 23px;
}
blockquote span {
  display: block;
  background-image: url(images/closequote1.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}


.comments-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
#comment-container{
  width: 90%;
  background-color: #9e9e9e;
}

.post-comments .comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-comments .media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}

.post-comments .media-heading {
  font-size: 12px;
  color: white;
}

.post-comments .comment-meta a {
  font-size: 12px;
  color: white;
  font-weight: bolder;
  margin-right: 5px;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
  text-align: center;
  color: white;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
#imagica{
    background-image: url("http://wallpapercave.com/wp/a58UCEi.jpg") ;
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(2px);
  opacity: 1.2;
}
.post_wrapper{
  background-color: #80cbc4;
  box-shadow: 2px 3px 3px 0px black ;
}
#form{
  padding-right: 350px;
  padding-left: 290px;
}
#users-table{
 background-color: lightblue;
}
td,th{
  color: black;
  padding: 5px;
  width: "10";
  height: 5px;
}
p{
  color: white;
}
#content
{
  padding-bottom: 40px;
}

a:focus,
a:hover {
  color: #fff;
}

#landing-page{
  overflow: hidden;
  background-color: transparent;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
#flash_error,
#flash_alert{
  color: red;
}
#flash_notice{
  color: green;
  background-color: white;
}
.label:label-info{
text-align: left
}
/*
 * Base structure
 */
h1,h2,h3,h4{
  color: white;
  margin-left
}
html,
body {
  height: 100%;
  background-color: #000;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  padding : 10px ;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

body,
html {
    width: 100%;
    height: 100%;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
:link{
  color: #000;
}
.field
{
  color: white;
  font-size: 20px;
}
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}
.form-control{border:0; box-shadow:none}
.form-control:focus{box-shadow:none;}

label{
  padding-top: 5px; display:block; left:0; width:100%
}

.panel{border-width:2px; border-radius:7px}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td
{border:2px solid #eee; vertical-align: middle;}
.table-bordered
{border-radius:7px}

.form-control::-moz-placeholder {
color: #999;
opacity: 1
}

.form-control:-ms-input-placeholder {
color: #999
}

.form-control::-webkit-input-placeholder {
color: #999
}

.full-screen {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 250px;
    overflow: hidden;
    display: inline;
    filter: blur(1px);
    }

 #welcome-content{
 padding-top: 30%;
 }   
 .modal-body,#modal,.modal-content
{
  background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/09/18/446494/big_thumb_c784eb9363fd0fc832bd36f648c50529.jpg");
  width: 100%;
    height: 100%;
    background-size: cover;
  }
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #8c9aff;
}
#tab{
  background-color: #8c9aff;
}
